<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Original</string>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>9:16</string>
		<key>Width</key>
		<integer>9</integer>
		<key>Height</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>2:3</string>
		<key>Width</key>
		<integer>2</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>4:3</string>
		<key>Width</key>
		<integer>4</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>1:2</string>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>1:3</string>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>3:4</string>
		<key>Width</key>
		<integer>3</integer>
		<key>Height</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>2:1</string>
		<key>Width</key>
		<integer>2</integer>
		<key>Height</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
