<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Original</string>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>A3</string>
		<key>Width</key>
		<integer>4961</integer>
		<key>Height</key>
		<integer>3508</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>A4</string>
		<key>Width</key>
		<integer>3508</integer>
		<key>Height</key>
		<integer>2480</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Instragram</string>
		<key>Width</key>
		<integer>16</integer>
		<key>Height</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Youtube ThumbNail</string>
		<key>Width</key>
		<integer>1280</integer>
		<key>Height</key>
		<integer>720</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Twitter Header</string>
		<key>Width</key>
		<integer>1500</integer>
		<key>Height</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>fB cover</string>
		<key>Width</key>
		<integer>16</integer>
		<key>Height</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Twitter Card</string>
		<key>Width</key>
		<integer>800</integer>
		<key>Height</key>
		<integer>418</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>IG Potriat
</string>
		<key>Width</key>
		<integer>1080</integer>
		<key>Height</key>
		<integer>1350</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>9:16</string>
		<key>Width</key>
		<integer>9</integer>
		<key>Height</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>2:3</string>
		<key>Width</key>
		<integer>2</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>4:3</string>
		<key>Width</key>
		<integer>4</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>1:2</string>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>1:3</string>
		<key>Width</key>
		<integer>1</integer>
		<key>Height</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>3:4</string>
		<key>Width</key>
		<integer>3</integer>
		<key>Height</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>2:1</string>
		<key>Width</key>
		<integer>2</integer>
		<key>Height</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>3:2</string>
		<key>Width</key>
		<integer>3</integer>
		<key>Height</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
